<div class="container">
  <app-realisation-menu></app-realisation-menu>
  <div class="row back-color">
    <div class="col col-lg-2">
      <app-object-menu></app-object-menu>
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
    </div>
    <!-- set image -->
    <div class="col col-lg-4">
      <div class="row">
        <img class="studio_profil" src="{{ this.images[0] }}" (click)="this.modal.open(this.modal.content)" alt="logo studio cularo" />
      </div>
      <div class="row">
        <img class="studio_profil" src="{{ this.images[1] }}" (click)="this.modal.open(this.modal.content)" alt="logo studio cularo" />
      </div>
    </div>

    <div class="col col-lg-3">
      <div class="row">
        <img class="studio_profil" src="{{ this.images[2] }}" (click)="this.modal.open(this.modal.content)" alt="logo studio cularo" />
      </div>
      <div class="row">
        <img class="studio_profil" src="{{ this.images[3] }}" (click)="this.modal.open(this.modal.content)" alt="logo studio cularo" />
      </div>
    </div>

    <div class="texte col-sm-3">
      <p>
        Lampadaire
        <br />
        Chevrons en sapin rabotés (section 60x75mm), plateau en contreplaqué et fil tissé coloré L. 1200 x l. 250 x h.1600 mm
      </p>
      <p>
        Le pied et le bras de la lampe <b>Cranelamp</b> s’orientent et s’articulent. Ils permettent une multitude d’inclinaisons de
        l’ampoule afin de varier les hauteurs de l’émission de lumière et donc de s’adapter à différentes utilisations. Son fil tissé
        apparent est utilisé comme un élément structurel, c’est lui qui tient en tension la douille et l’ampoule.
      </p>
      <p>
        <b>Cranelamp</b> est inspirée des engins de chantier tels que les grues : l’ampoule en guise de boule de démolition et le fil tissé
        pour le câble. Elle est réalisée à partir d’un chevron raboté et défoncé afin d’offrir un lit au fil tissé. Les éléments
        constitutifs de cette lampe sont ainsi révélés dans un parti prit résolument esthétique.
      </p>
    </div>
  </div>
</div>

<app-modal-carousel [images]="images"></app-modal-carousel>
