<div class="container">
  <!-- <div class="row"> -->
  <app-realisation-menu></app-realisation-menu>
  <!-- </div> -->
  <div class="row back-color">
    <div class="col col-lg-2">
      <app-object-menu></app-object-menu>
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
    </div>
    <div class="col col-lg-7">
      <div class="col-lg-7">
        <img class="studio_proil" src="{{ this.images[0] }}" alt="logo studio cularo" />
      </div>
    </div>
    <div class="texte col-sm-3">
      <p>Parpaing, Haut parleurs Parpaing de chaînage avec haut-parleurs placé dans l’orifice circulaire. L. 800 x l.700 x h. 2400 mm</p>
      <p>Réaliser une enceinte à partir d’un parpaing de chaînage et d’un haut- parleur en vu d’obtenir un hybride.</p>
      <p>
        Cet assemblage est composé d’une quarantaine de parpaing-enceinte. Cette forme architecturale est une tour de son. Le son diffus est
        un autre hybride: du glitch (transformation d’une image en son). Cette sculpture massive illustre une architecture exponentielle,
        repoussant ses limites et tendant à monter toujours plus haut.
      </p>
    </div>
  </div>
</div>
