<div class="container">
  <app-realisation-menu></app-realisation-menu>
  <div class="row back-color">
    <div class="col col-lg-2">
      <app-espace-menu></app-espace-menu>
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
    </div>
    <div class="col col-lg-7">
      <div class="row">
        <div class="picture col-sm-3">
          <img class="studio_profil" src="{{ this.images[0] }}" alt="logo studio cularo" />
        </div>
        <div class="picture col-sm-5">
          <img class="studio_profil" src="{{ this.images[1] }}" alt="logo studio cularo" />
        </div>
        <div class="picture col-sm-3">
          <img class="studio_profil" src="{{ this.images[2] }}" alt="logo studio cularo" />
        </div>
      </div>
      <div class="row">
        <div class="picture col-sm-7">
          <img class="studio_profil" src="{{ this.images[3] }}" alt="logo studio cularo" />
        </div>
        <div class="picture col-sm-4">
          <img class="studio_profil" src="{{ this.images[4] }}" alt="logo studio cularo" />
        </div>
      </div>
      <div class="row">
        <div class="picture col-sm-6">
          <img class="studio_profil" src="{{ this.images[5] }}" alt="logo studio cularo" />
        </div>
        <div class="picture col-sm-4">
          <img class="studio_profil" src="{{ this.images[6] }}" alt="logo studio cularo" />
        </div>
      </div>
    </div>
    <div class="texte col-sm-3">
      <p>
        Cet appartement à l’agencement atypique et aux volumes spacieux ne demandait qu’à être mis en valeur jouant sur son caractère ancien
        avec une rénovation contemporaine : délimiter, ouvrir, apporter de la profondeur, mettre en lumière, donner du caractère par des
        matériaux francs, conserver l’atypique et proposer des lignes épurées. Le maître mot de ce projet était « Assumer ». Au programme du
        chantier : renouvellement intégral de la cuisine, remplacement du sol carrelé, création d’une cloison avec verrière pour délimiter
        salon et salle à manger, ouverture puis pose d’une verrière dans la cloison mitoyenne entre salle à manger et atelier (pour apporter
        lumière et profondeur). La cuisine, particulièrement dessinée, se veut pratique et fonctionnelle, mais également résolument
        contemporaine dans son caractère industriel (avec ses plans de travail en noyer et son mur en brique rouge).
      </p>
      <p>
        <b>Mot du maître d’ouvrage :</b>
        <br />
        J’ai tout de suite été séduite par les volumes de cet appartement, mais il me fallait, pour y vivre en famille, y apporter de la
        modernité, et du caractère. Le travail sur la lumière par les ouvertures et autres verrières a permis de faire de cet endroit un
        cocon de douceur qui me ressemble, particulièrement agréable à vivre et à faire vivre.
      </p>
    </div>
  </div>
</div>
