<div class="container">
  <app-realisation-menu></app-realisation-menu>
  <div class="row back-color">
    <div class="col col-lg-2">
      <app-object-menu></app-object-menu>
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
    </div>
    <!-- set image -->
    <div class="col col-lg-2">
      <div class="row">
        <img class="picture" src="{{ this.images[0] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
      </div>
      <div class="row">
        <img class="picture" src="{{ this.images[1] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
      </div>
      <div class="row">
        <img class="picture" src="{{ this.images[2] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
      </div>
    </div>
    <div class="col centre_height col-lg-5">
      <div class="row">
        <img class="picture" src="{{ this.images[3] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
      </div>
      <div class="row">
        <img class="picture" src="{{ this.images[4] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
      </div>
    </div>

    <div class="texte col-sm-3">
      <!-- text descriptif-->
      <p>Assise Rouleau en carton de diamètre 70 mm et sangle (l. 25 mm) Déplié́ L. 1394 x l. 390 x h. 82 mm</p>
      <p>
        Les rouleaux en carton de Roll On sont entrelacés par deux sangles. Ainsi liés ils peuvent coulisser à 360°. Cet assemblage présente
        de multiples avantages comme la facilité de déploiement, de métamorphoses, d’un agencement simple et d’une certaine légèreté́. Ces
        caractéristiques en font un mobilier aisément nomade. Tantôt couché, tantôt assis, différentes combinaisons sont permises, épousant
        n’importe quels reliefs. Il peut habiller une assise trouée, se déployer sur une parcelle escarpée ou s’installer en appui sur le
        rebord d’un canapé́ pour augmenter sa capacité́, etc.
      </p>
    </div>
  </div>
</div>

<app-modal-carousel [images]="images"></app-modal-carousel>
