<div class="container">
  <app-realisation-menu></app-realisation-menu>
  <div class="row back-color">
    <div class="col col-lg-2">
      <app-object-menu></app-object-menu>
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
    </div>
    <!-- set image -->
    <div class="col col-lg-2">
      <div class="row">
        <img class="studio_profil" src="{{ this.images[0] }}" alt="logo studio cularo" />
      </div>
      <div class="row">
        <img class="studio_profil" src="{{ this.images[1] }}" alt="logo studio cularo" />
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="row">
        <img class="studio_profil" src="{{ this.images[2] }}" alt="logo studio cularo" />
      </div>
      <div class="row">
        <img class="studio_profil" src="{{ this.images[3] }}" alt="logo studio cularo" />
      </div>
    </div>
    <div class="col col-lg-3">
      <div class="row">
        <img class="studio_profil" src="{{ this.images[4] }}" alt="logo studio cularo" />
      </div>
    </div>
    <div class="texte col-sm-3">
      <!-- text descriptif-->
      <p>
        Le fil tissé de la lampe Stroll Me peut tout à la fois s’enrouler et se dérouler à même sa structure. Le but est de permet
        l’amplitude de mouvements dans l’espace domestique ainsi qu’une diffusion de la lumière, rôle traditionnellement attribué à
        l’abat-jour.
      </p>
      <p>
        Stroll Me est radicale dans son traitement esthétique : une structure, une ampoule, un fil.
        <br />
        Elle emprunte à la baladeuse sa typologie électrique de base, ainsi que sa multitude de positions et de variations d’éclairage
        possibles. Elle se positionne au gré́ des besoins.
      </p>
      <p>
        De plus, sa structure épurée permet de moduler l’orientation et la qualité́ de la lumière ainsi que la prise en main de la baladeuse.
      </p>
      <p>
        Lampe
        <br />
        Acier coudé, laqué noir et fil tissé coloré. L. 240 x l. 135 x h. 234 mm
      </p>
    </div>
  </div>
</div>
