<div class="container">
  <div class="row">
    <div class="left_part col-lg-3 img-container">
      <img class="studio_logo_droit" src="assets/logo_droit.jpg" alt="logo studio cularo" />
    </div>
    <div class="center_part col-lg-8">
      <br />
      <h1>Concevons ensemble</h1>
      <h6>Un projet ? Une envie ? Des questions ? Contactez-moi</h6>
      <br />

      <h6>
        Studio Cularo vous accompagnera de la conception jusqu’à la réalisation de votre projet : <br />
        une collaboration permettant de créer un espace ou un objet qui vous ressemble.
      </h6>
      <br />
      <h5 class="black">Contact :</h5>
      <br />
      <h5>
        <b>STUDIO CULARO </b>
        <br />
        design d'espace et d'objet
        <br />
        <div>
          <br />
          1 rue Millet
          <br />
          38000 Grenoble
        </div>
        <br />
        <div>06.66.85.59.44</div>
        <br />
        studiocularo.design@gmail.com
      </h5>
    </div>
  </div>
</div>
