<div class="container">
  <!-- <div class="row"> -->
  <app-realisation-menu></app-realisation-menu>
  <!-- </div> -->
  <div class="row back-color">
    <div class="col col-lg-2">
      <app-object-menu></app-object-menu>
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
    </div>
    <div class="col col-lg-7">
      <div class="row">
        <img class="studio_profil" src="{{ this.images[0] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
      </div>
      <div class="row">
        <div class="picture col-sm-6">
          <img class="studio_profil" src="{{ this.images[1] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
        </div>
        <div class="picture col-sm-6">
          <img class="studio_profil" src="{{ this.images[2] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
        </div>
      </div>
    </div>
    <div class="texte col-sm-3">
      <p>Longrine en chocolat Fer à béton en chocolat pâtissier, armé avec des bâtonnets en bambou L. 230 x l.210 x h.750 mm</p>
      <p>
        L’architecture n’est pas comestible, cette notion est cependant évoquée dans le conte d’Andersen Hansel et Gretel avec sa maison en
        pain d’épices. Pourtant il existe un rapport étroit entre architecture et pâtisserie; notamment : avec les pièces montées citées
        dans Madame Bovary de Gustave Flaubert. J’ai donc voulu détourner un élément architectural avec une matière issue de la pâtisserie.
        J’ai réalisé́ un fer à béton en chocolat, pour pointer l’omniprésence de l’acier dans les grandes mégalopoles. Cependant l’acier
        craint la chaleur et on a pu voir ses limites lors d’incendies, comme dans celui du World Trade Center. La perception de la matière
        est d’autant plus troublante qu’elle possède une dimension olfactive.
      </p>
    </div>
  </div>
</div>
<app-modal-carousel [images]="images"></app-modal-carousel>
