<div class="container">
  <div class="row">
    <div class="col color_in left_part col-sm-3">
      <img class="studio_logo_droit" src="assets/logo_droit.jpg" alt="logo studio cularo" />
    </div>
    <div class="col color_out center_part col-lg-6">
      <br />
      <p>
        Issue d’un cursus pluridisciplinaire, l’agence Studio Cularo, représentée par Clément Renoud, est riche et fière de son parcours qui
        la conduit, aujourd’hui, à son encrage Grenoblois.
      </p>
      <p>
        Diplômé avec mention du DNSEP option Design aux Beaux Arts d’Angers , puis récompensé du prix «Coup de coeur» pour son projet
        Boletarium par la 10 ème édition de la Biennale Internationale de Design de Saint-Étienne en 2017, Clément Renoud est aussi à l’aise
        avec la conception d’espaces que celle d’objets.
        <br />
        Il est membre du Conseil Français des Architectes d’Intérieurs.
      </p>

      <p>Suite à diverses expériences en architecture, architecture d’intérieure et design d’objets, il crée le studio en 2019.</p>
      <p>
        La volonté de Studio Cularo est de mettre son savoir-faire au service de sa clientèle afin de dessiner et d’accompagner celle-ci
        dans la réalisation de leurs projets.
      </p>
      Cularo est le nom ancestral de Grenoble à l’époque Gauloise.
    </div>
    <div class="col color_in right_part col-sm-3">
      <div class="picture_profil inside_column">
        <img class="studio_profil" src="assets/profil.jpg" alt="logo studio cularo" />
      </div>
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
    </div>
  </div>
</div>
