<!--<p>delivery-list works!</p>-->
<div class="container">
  <div class="row">
    <div class="col col-sm-2">
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
      <div class="picture_profil inside_column">
        <img class="studio_profil" src="assets/picture_in_progess.jpg" alt="logo studio cularo" />
      </div>
    </div>

    <div class="col col-lg-8">
      <div class="linep_center_up1">
        <h4>Le studio propose différents type de missions pour vous accompagner au mieux dans votre projet.</h4>
      </div>
      <div class="linep_center_up delivery-list-text-p">
        <h3><i>Mission de conseil</i></h3>
        <i
          >Cette étape est une phase d’observation et une prémice aux missions de dessin et de suivi. Elle consiste en la prise de
          connaissance de l’espace à améliorer et du cahier des charges des clients. A la fin de l’entrevue, un document écrit sera remis
          résumant ce rendez-vous et stipulant les solutions conseillées. (Il s’agit d’un rendez-vous sur place d’une heure et demi pour un
          coût forfaitaire de 90 €.)</i
        >
      </div>
      <div class="linep_center_center delivery-list-text-p">
        <h3><i>Mission de dessin</i></h3>
        <i
          >Suite au premier rendez-vous, une phase d’étude est amorcée avec une esquisse permettant de mettre en forme avec plan et esquisse
          3D le projet du client. Cette mission est jalonnée de multiples étapes où l’architecte d’intérieur dessine et affine le projet
          suite aux échanges avec le client. Ainsi l’esquisse du départ devient des plans détaillés qui permettront de réaliser un chiffrage
          précis et le suivi des travaux.</i
        >
      </div>
      <div class="linep_center_down delivery-list-text-p">
        <h3><i>Mission d'accompagnement de chantier</i></h3>
        <i
          >Cette phase est la suivante des deux premières missions ci-dessus. Elle consite en l’assistance auu suivi de chantier.
          L’architecte d’intérieur veille au bon déroulement des travaux en étant le relais entre le client et les artisans</i
        >
      </div>
    </div>

    <div class="col col-sm-2">
      <img class="studio_logo_droit" src="assets/logo_droit.jpg" alt="logo studio cularo" />
    </div>
  </div>
</div>
