<div class="container">
  <!-- <div class="row"> -->
  <app-realisation-menu></app-realisation-menu>
  <!-- </div> -->
  <div class="row back-color">
    <div class="col col-lg-2">
      <app-espace-menu></app-espace-menu>
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
    </div>
    <div class="col col-lg-5">
      <div class="row">
        <div class="picture inside_column col-sm-6">
          <img class="studio_profil" src="{{ this.images[0] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
        </div>
        <div class="picture inside_column col-sm-6">
          <img class="studio_profil" src="{{ this.images[1] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
        </div>
      </div>
      <div class="row">
        <img class="studio_profil" src="{{ this.images[2] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
      </div>
    </div>
    <div class="col color_out center_part col-lg-2">
      <div class="space_around_column_picture picture">
        <img class="studio_profil" src="{{ this.images[3] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
      </div>
      <div class="space_around_column_picture picture">
        <img class="studio_profil" src="{{ this.images[4] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
      </div>
      <div>
        <img class="studio_profil" src="{{ this.images[5] }}" (click)="this.child.open(this.child.content)" alt="logo studio cularo" />
      </div>
    </div>
    <div class="texte col-sm-3">
      <p>
        Niché sur les pentes de la Croix Rousse, cet appartement d’ancien Canut bénéficie d’une belle hauteur sous plafond, de parquets
        massifs et de grands volumes à répartir selon les besoins. Cet habitat, originelement un T3, présentait une anti chambre borgne
        donnant sur la chambre à coucher. Cependant, dans le cadre d’un appartement familial, il a fallu retravailler ces deux espaces en
        pièces distinctes afin de créer une chambre parentale et une chambre d’enfant. Une redistribution des accès était donc nécessaire.
        De plus, il était essentiel d’inclure une verrière avec ouvrant entre les deux chambres pour l’apport de lumière dans l’une d’elles.
        <br />
        Nous avons pu optimiser l’espace et répondre à un manque de rangements en dessinant des unités de mobilier sur mesure et selon les
        besoins du couple, que l’on a produites et posées. L’un des murs du séjour s’est vu habillé d’une bibliothèque où sont mêlés,
        livres, objets de famille ou encore cave à vins…
      </p>
      <p>
        <b>Mot du maître d’ouvrage : </b>« Nous avons contacté le studio Cularo pour créer une chambre dans notre appartement canut suite à
        l'arrivée de notre 1er enfant. Clément a alors repensé la circulation au sein de notre foyer en prenant en compte nos impératifs :
        apporter du rangement, de la luminosité et permettre la circulation de l'air. Aujourd'hui, notre espace de vie est métamorphosé :
        nous avons l'impression d'avoir gagné des mètres carrés grâce au déplacement d'une cloison et à nos multiples rangements. Nos
        besoins et envies ont été respectés, et même anticipés! Merci beaucoup Clément de nous avoir accompagnés, nous sommes ravis de ton
        travail. » Famille Chevalier Lahouazi
      </p>
    </div>
  </div>
</div>

<app-modal-carousel [images]="images"></app-modal-carousel>
