<div class="container">
  <app-realisation-menu></app-realisation-menu>
  <div class="row back-color">
    <div class="col col-lg-2">
      <app-object-menu></app-object-menu>
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
    </div>
    <!-- set image -->
    <div class="col col-lg-2">
      <div class="row">
        <img class="studio_profil" src="{{ this.images[0] }}" alt="logo studio cularo" />
      </div>
      <div class="row">
        <img class="studio_profil" src="{{ this.images[1] }}" alt="logo studio cularo" />
      </div>
      <div class="row">
        <img class="studio_profil" src="{{ this.images[2] }}" alt="logo studio cularo" />
      </div>
    </div>

    <div class="col col-lg-4">
      <div class="row">
        <img class="studio_profil" src="{{ this.images[3] }}" alt="logo studio cularo" />
      </div>
      <div class="row">
        <img class="studio_profil" src="{{ this.images[4] }}" alt="logo studio cularo" />
      </div>
    </div>

    <div class="texte col-sm-3">
      <!-- text descriptif-->
      <p>
        Griffoir Assemblage à la colle et cheville en bois de tasseaux et liteaux en sapin rabotés (section 25x25 mm et 15x15mm), tapis en
        coco et élastique SANDOW L. 940 x l. 455 x h.1000 mm
      </p>
      <p>
        Dessiné et réalisé en étroite collaboration avec une vétérinaire, ce griffoir bouscule les traditionnels arbres à chat inesthétiques
        et fréquemment allergènes en tissus synthétiques. Il présente des plans habillés en coco avec des inclinaisons différentes afin de
        satisfaire les besoins physiologiques de ses utilisateurs félins. Le chat ayant besoin de surfaces planes en hauteur afin de dominer
        et de surveiller son environnement, des plans horizontaux culminants ont été aménagés : lattis de liteaux ou encore hamac formé par
        des élastiques type sandow.
        <b>Tabl-a-chat</b> sait s’intégrer dans un intérieur contemporain comme plus traditionnel, l’esthétique étant mise au service de du
        chat afin de répondre aux nombreuses exigences de ce dernier en intérieur.
      </p>
    </div>
  </div>
</div>
