<div class="container">
  <app-realisation-menu></app-realisation-menu>
  <div class="row back-color">
    <div class="col col-lg-2">
      <app-object-menu></app-object-menu>
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="picture_profil">
        <img class="studio_profil" src="{{ this.images[0] }}" alt="logo studio cularo" />
      </div>
      <div class="picture_profil">
        <img class="studio_profil" src="{{ this.images[1] }}" alt="logo studio cularo" />
      </div>
      <div class="picture_profil">
        <img class="studio_profil" src="{{ this.images[2] }}" alt="logo studio cularo" />
      </div>
    </div>

    <div class="col col-lg-3">
      <div class="picture">
        <img class="studio_profil" src="{{ this.images[3] }}" alt="logo studio cularo" />
      </div>
      <div class="picture">
        <img class="studio_profil" src="{{ this.images[4] }}" alt="logo studio cularo" />
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="picture">
        <img class="studio_profil" src="{{ this.images[5] }}" alt="logo studio cularo" />
      </div>
      <div class="picture">
        <img class="studio_profil" src="{{ this.images[6] }}" alt="logo studio cularo" />
      </div>
      <div class="picture_profil">
        <img class="studio_profil" src="{{ this.images[7] }}" alt="logo studio cularo" />
      </div>
    </div>

    <div class="texte col-sm-3">
      <p>
        Table
        <br />
        Plateau en BauBuche ép.40 mm et piètement en Valchromat teinté noir ép.30mm L. 2240 x l. 905 x h. 755 mm
      </p>
      <p>
        La table SAM est une table entièrement menuisée. Résolument contemporaine par ces matériaux et leur esthétique, elle s’intègre
        parfaitement dans une salle à manger aux lignes épurées. Le plateau en BauBuche permet d’allier le toucher chaleureux du bois à un
        style graphique affirmé. Le piètement, lui, se veut sobre et élégant par sa teinte et son dessin.
        <br />
        Cette table saura s’intégrer et mettre en valeur son environnement
      </p>     
    </div>
  </div>
</div>
