<nav class="navbar-nav navbar-light bg-light">
  <div id="navbar" class="color">
    <ul class="navbar-nav nav-fill">
      <!--Table sam-->
      <!-- if selected-->
      <li class="nav-item">
        <a
          class="nav-link isSelected"
          routerLink="/realisation-objet/table-sam"
          routerLinkActive="active"
          *ngIf="isSelected('/realisation-objet/table-sam')"
        >
          Table Sam</a
        >
        <!-- if not selected-->
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/realisation-objet/table-sam"
          routerLinkActive="active"
          *ngIf="!isSelected('/realisation-objet/table-sam')"
        >
          Table Sam</a
        >

        <!-- Stroll me -->
        <!-- if selected-->
      </li>

      <li class="nav-item">
        <a
          class="nav-link isSelected"
          routerLink="/realisation-objet/stroll-me"
          routerLinkActive="active"
          *ngIf="isSelected('/realisation-objet/stroll-me')"
        >
          Stroll me</a
        >

        <!-- if not selected-->
        <a
          class="nav-link"
          routerLink="/realisation-objet/stroll-me"
          routerLinkActive="active"
          *ngIf="!isSelected('/realisation-objet/stroll-me')"
        >
          Stroll me</a
        >
      </li>
      <!-- Tabl a chat -->
      <!-- if selected-->
      <li class="nav-item">
        <a
          class="nav-link isSelected"
          routerLink="/realisation-objet/tabl-a-chat"
          routerLinkActive="active"
          *ngIf="isSelected('/realisation-objet/tabl-a-chat')"
        >
          Tabl-a-chat</a
        >

        <!-- if not selected-->
        <a
          class="nav-link"
          routerLink="/realisation-objet/tabl-a-chat"
          routerLinkActive="active"
          *ngIf="!isSelected('/realisation-objet/tabl-a-chat')"
        >
          Tabl-a-chat</a
        >
      </li>

      <!-- Crane lamp -->
      <!-- if selected-->
      <li class="nav-item">
        <a
          class="nav-link isSelected"
          routerLink="/realisation-objet/crane-lamp"
          routerLinkActive="active"
          *ngIf="isSelected('/realisation-objet/crane-lamp')"
        >
          Crane lamp</a
        >

        <!-- if not selected-->
        <a
          class="nav-link"
          routerLink="/realisation-objet/crane-lamp"
          routerLinkActive="active"
          *ngIf="!isSelected('/realisation-objet/crane-lamp')"
        >
          Crane lamp</a
        >
      </li>

      <!-- Roll on -->
      <!-- if selected-->
      <li class="nav-item">
        <a
          class="nav-link isSelected"
          routerLink="/realisation-objet/roll-on"
          routerLinkActive="active"
          *ngIf="isSelected('/realisation-objet/roll-on')"
        >
          Roll on</a
        >

        <!-- if not selected-->
        <a
          class="nav-link"
          routerLink="/realisation-objet/roll-on"
          routerLinkActive="active"
          *ngIf="!isSelected('/realisation-objet/roll-on')"
        >
          Roll on</a
        >
      </li>

      <!-- Mikado -->
      <!-- if selected-->
      <li class="nav-item">
        <a
          class="nav-link isSelected"
          routerLink="/realisation-objet/mikado"
          routerLinkActive="active"
          *ngIf="isSelected('/realisation-objet/mikado')"
        >
          Mikado</a
        >

        <!-- if not selected-->
        <a
          class="nav-link"
          routerLink="/realisation-objet/mikado"
          routerLinkActive="active"
          *ngIf="!isSelected('/realisation-objet/mikado')"
        >
          Mikado</a
        >
      </li>

      <!-- Hybrida son -->
      <!-- if selected-->
      <li class="nav-item">
        <a
          class="nav-link isSelected"
          routerLink="/realisation-objet/hybrida-son"
          routerLinkActive="active"
          *ngIf="isSelected('/realisation-objet/hybrida-son')"
        >
          Hybrida son</a
        >

        <!-- if not selected-->
        <a
          class="nav-link"
          routerLink="/realisation-objet/hybrida-son"
          routerLinkActive="active"
          *ngIf="!isSelected('/realisation-objet/hybrida-son')"
        >
          Hybrida son</a
        >
      </li>
    </ul>
  </div>
</nav>
