<div class="container">
  <div class="row">
    <div class="col color_in left_part col-sm-3 container">
      <img class="studio_logo_droit" src="assets/logo_droit.jpg" alt="logo studio cularo" />
    </div>
    <div class="col color_out center_part col-lg-6">
      <div class="col color_out center_part col-lg-6"></div>
      <div class="col color_out center_part col-lg-6"></div>
      <div class="col color_out center_part col-lg-6"></div>
    </div>
    <div class="col color_in right_part col-sm-3">
      <div class="picture_profil inside_column">
        <img class="studio_profil" src="assets/profil.jpg" alt="logo studio cularo" />
      </div>
      <div class="logo">
        <img class="studio_logo_droit" src="assets/logo.png" alt="logo studio cularo" />
      </div>
    </div>
  </div>
</div>
