<div class="container">
  <div class="row">
    <div class="part col-lg-4 img-container">
      <img class="studio_logo_droit" src="assets/logo_droit.jpg" alt="logo studio cularo" />
    </div>
    <div class="part col-lg-4">
      <a routerLink="/realisation-espace/appartement-atypique-grenoblois" routerLinkActive="active">
        <img class="image_espace" src="assets/image_espace.jpg" alt="Image espace" />
      </a>
    </div>
    <div class="part_img col-lg-4">
      <a routerLink="/realisation-objet/table-sam" routerLinkActive="active">
        <img class="image_object" src="assets/image_object.jpg" alt="Image Object" />
      </a>
    </div>
  </div>
</div>
